# === Telegram ===
# Вставьте СВОЙ токен от @BotFather:
8521033839:AAEE8pe2C5q053k38_3c9o8u0F4XnPd9Leg
# Вставьте СВОЙ Telegram ID (узнать: @userinfobot):
ADMIN_IDS=166456217

# === Database ===
DATABASE_URL=postgresql+asyncpg://finbot:finbot_pass@postgres:5432/finbot_db

# === Redis ===
REDIS_URL=redis://redis:6379/0

# === bePaid ===
BEPAID_SHOP_ID=33685
BEPAID_SECRET_KEY=fbe4eed7c2e04ba7dfcee7530fb9bdc5e849d70e55671de58b22cfd79ee316a7
BEPAID_CHECKOUT_URL=https://checkout.bepaid.by/ctp/api/checkouts
BEPAID_PAYMENT_URL=https://checkout.bepaid.by/v2/confirm_order/prd_74d43b5eb24b4f0c/33685
BEPAID_WEBHOOK_SECRET=

# === Webhook server ===
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8443

# === WebApps ===
WEBAPP_CALC_URL=https://t.me/fin_reboot_bot/calc
WEBAPP_TRACKER_URL=https://t.me/fin_reboot_bot/tracker

# === Misc ===
SUPPORT_USERNAME=@ifireboy
PARTICIPANTS_CHAT_URL=https://t.me/+Dwg2Qlm42xEwYWNi
LOG_LEVEL=INFO
